
:root{
  --bBackColor : white;
  --bBackColorH : #55555556;
}

body{
  margin: 0;
  display: flex;
}
.margin{
  background-color: gainsboro;
  width: 20vw;
  height: 100vh;
}
#clickZone{
  width: 60vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  user-select: none;
}
#score{
  font-size: xx-large;
  transform: translateX(10vw);
  z-index: 1;
  height: 10px;
  text-align: center;
  width: 40vw;
  user-select: none;/*para que no se seleccione al clickear P*/
  
}
#mainImg{
  max-width: 60vh;
  width: fit-content;
  height: fit-content;
  margin-top: 30vh;
  user-select: none;
  cursor: pointer;
  -webkit-user-drag: none;
}
.upgradeButtons{
  width: -webkit-fill-available;
  background-color: var(--bBackColor);
  color: black;
  border: 1px solid var(--bBackColorH);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  user-select: none;

}
.upgradeButtons:hover{
  background-color: var(--bBackColorH);
  
}
.dataButtons{
  width: 10vw;
  background-color: var(--bBackColor);
  color: black;
  border: 1px solid var(--bBackColorH);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  user-select: none;
}
.dataButtons:hover{
  background-color: var(--bBackColorH);
  
}

.popUpOnClick{
  color: rgb(206, 82, 33);
  user-select: none;
  pointer-events: none;
  font-size: x-large;
  animation: popUp 1s ease-out;
}
@keyframes popUp {
  
  100%{transform: translate(15px,-50px);}
}
@media screen and (max-width: 450px){
  #left{
    width: 0;
  }
  #clickZone{
    width: 70vw;
  }
  #right{
    width: 30vw;
  }
  .dataButtons{
    width: 30vw;
  }
}