
body{
  margin: 0;
  display: flex;
}
.margin{
  background-color: gainsboro;
  width: 20vw;
  height: 100vh;
}
#clickZone{
  width: 60vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}
#score{
  font-size: xx-large;
  transform: translateX(10vw);
  z-index: 1;
  height: 10px;
  text-align: center;
  width: 40vw;
  user-select: none;/*para que no se seleccione al clickear P*/
  
}
#mainImg{
  max-width: 60vh;
  width: fit-content;
  height: fit-content;
  margin-top: 30vh;
  user-select: none;
}
.upgradeButtons{
  width: -webkit-fill-available;
  padding: 1vw;
  user-select: none;
}
.dataButtons{
  width: 10vw;
  padding: 1vw;
  user-select: none;
}